@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layer Base */
@layer base {
    body {
        @apply sm:max-w-sm md:max-w-2xl lg:max-w-7xl mx-auto px-4;
        @apply dark:bg-black dark:text-gray-100 bg-gray-100 text-gray-900
    }

    .highlight:before {
      @apply dark:bg-zinc-800
    }
}

  
/* Hover Effect Dark */
.highlight:before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.highlight:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.highlight:before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  background: #e6e6e6;
  z-index: -1;
  transition: transform .3s ease;
}

.highlight {
  position: relative;
}


